NEXT_PUBLIC_API_URL=http://localhost:8000
# Resend
RESEND_API_KEY=<YOUR_API_KEY>
# Mail identities
CONTACT_FROM="Open ME/CFS <contact@openmecfs.org>"
# Where you want to receive the message (your Gmail or any address)
CONTACT_TO="jgspruance@gmail.com"

STRIPE_SECRET_KEY=sk_test_****************
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_****************
NEXT_PUBLIC_APP_URL=http://localhost:3000
# (Optional—webhooks later)
STRIPE_WEBHOOK_SECRET=
